<div id="tab_plugin_coordinate_systems" class="tab-pane">
    <div class="control-container">
        <h1>Workspace Coordinate Systems</h1>
        
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Select Coordinate System:</label>
                <div class="controls">
                    <select data-bind="options: systemOptions, optionsText: 'text', optionsValue: 'system', value: activeSystem"></select>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">Label:</label>
                <div class="controls">
                    <input type="text" placeholder="Label" data-bind="value: label">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Set Offsets:</label>
                <div class="controls">
                    <input type="text" placeholder="X Offset" data-bind="value: xOffset">
                    <input type="text" placeholder="Y Offset" data-bind="value: yOffset">
                    <input type="text" placeholder="Z Offset" data-bind="value: zOffset">
                    <button type="button" class="btn" data-bind="click: function() { set_offsets(activeSystem(), xOffset(), yOffset(), zOffset()) }">Set</button>
                    <button type="button" class="btn" data-bind="click: function() { save_offsets(activeSystem(), xOffset(), yOffset(), zOffset(), label()) }">Save</button>
                    <button type="button" class="btn" data-bind="click: function() { restore_offsets(activeSystem()) }">Restore</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Set Position:</label>
                <div class="controls">
                    <input type="text" placeholder="X Position" data-bind="value: xPosition">
                    <input type="text" placeholder="Y Position" data-bind="value: yPosition">
                    <input type="text" placeholder="Z Position" data-bind="value: zPosition">
                    <button type="button" class="btn" data-bind="click: function() { set_position(activeSystem(), xPosition(), yPosition(), zPosition()) }">Set</button>
                </div>
            </div>
        </form>
    </div>
</div>
